*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 500vh;
}

/*
#071202
#020F12
#0D0212
#120602
*/

a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

.navbar{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 3px 5px black;
}
.navbar-brand{
  background-image: url(mylogo.png);
  width: 45px;
  height: 45px;
  background-size: cover;
  margin: 0 0 0 20px;
}
.nav-item a{
  color: white !IMPORTANT;
  text-transform: uppercase;
}
.btn-primary{
  color: red;
  background-color: yellow;
}
.header{
  width: 100%;
  height: 98vh;
  background-image: linear-gradient(120deg, black 10%,
  rgba(11, 41, 14, 0.9) 25%, rgba(0, 0, 0, 0.5) 60%,
  transparent 20%), url(me.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83% 30%;
  /* clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%); */
  color: white;
  box-shadow: -10px 0 5px white;
}
.header-center-part{
  width: 55%;
  height: auto;
  top: 25%;
  left: 4%;
  padding: 0 0 0 4%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header-center-part p{
  text-transform: ;
}
.bottom-border{
  border-width: 0 0 3px 0;
  border-color: white;
  border-style: double;
}
.name{
  font-family: 'Megrim', cursive;
  font-size: calc(25px + 2.6vw);
}

.hr{
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, rgb(255,0,0),rgb(255,255,0)
  ,rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),
  rgb(255,0,0));
}


.about-me{
  width: 100%;
  background-image: linear-gradient(
    #052128 30%, #031317 75%);
    color: white;
}
.about-me-image{
  width: 500px;
  height: 400px;
  background-image: url(me-2.jpeg);
  background-position: 50% 72%;
  background-size: cover;
  clip-path: polygon(50% 0%, 85% 10%, 75% 80%, 50% 100%,
    25% 80%, 15% 10%);
}
.about-me-desc{
  width: 500px;
}
.heading{
  border-bottom: 3px double #f2e6ff;
}


.education{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
    #110317 20%, #040105 80%);
}


@media only screen and (max-width: 600px) {
  .about-me-image{
    width: 300px;
    height: 240px;
  }
}



/* Here goes loading stylings */
#loading{
  position: fixed;
  z-index: 99999;

}
.load-body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(  #110317 20%, #040105 80%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
    #06F9F6, #F606F9, #F9F606
    );
  animation: animate 0.5s linear infinite;
}
.loader span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    #06F9F6, #F606F9, #F9F606
    );
}
.loader span:nth-child(1)
{
  filter: blur(5px);
}
.loader span:nth-child(2)
{
  filter: blur(10px);
}
.loader span:nth-child(3)
{
  filter: blur(25px);
}
.loader span:nth-child(4)
{
  filter: blur(50px);
}
.loader:after{
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: #16061c;
  background-image: url(mylogo.png);
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  animation: animate2 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
